@media (max-width: 1240px) {
  .container1{
    width: 90%;
  }
  .container2{
    width: 90%;
  }
  .registration-list__items{
    transform: scale(.8);
  }
}

@media(max-width: 1045px){
  #header__nav{
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width: 992px){
  .registration-list__items{
    transform: scale(.7);
  }
  .questions__items{
    flex-wrap: wrap;
  }
}

@media(max-width: 776px){
  .header__nav{
    display: none;
  }
  .registration-list__items{
    transform: scale(.5);
  }
  .our-facilities{
    display: flex;
    flex-direction: column;
  }
  .member__person{
    transform: scale(.7);
  }
  .footer{
    flex-wrap: wrap;
  }
}
@media(max-width: 660px){
  .registration-list__items{
    transform: translateX(60px) scale(.5);
  }
  .hero{
    flex-wrap: wrap;
  }
}
@media(max-width: 567px){
  .about-company{
    flex-wrap: wrap;
  }
  .registration-list__items{
    transform: translate(150px, 100px) scale(.5);
  }
  .registration-list__img{
    display: none;
  }
  .header__btn{
    display: none;
  }
  .our-spaces__titles{
    flex-wrap: wrap;
  }
  .member__person{
    display: none;
  }
  .our-facilities .slick-dots{
    display: none;
  }
  .our-facilities{
    width: 95%;
  }

}
@media(max-width: 414px){
  .registration-list__items{
    transform: translate(220px, 100px) scale(.5);
  }

}
@media(max-width: 370px){

}
@media(max-width: 320px){

}
@media(max-width: 1200px){

}