@import "reset";
@import "variables";
@import "media";
@import "slick";

//HEADER
#header {
  padding-top: 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-family: Playfair Display, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #10375C;
    }

    &__nav {
      &--item {
        margin: 10px 20px;
        padding-bottom: 5px;
        @extend %subtitles;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 3px;
          background: #10375C;
          transition: .3s;
        }

        &:hover:before {
          width: 100%;
        }

        &:hover {
          color: #0b1f8a;
        }

      }

    }

    &__btn {
      &--white {
        @extend %btn;
        background: transparent;
        border: none;
        font-size: 1.1em;
        color: #FF5722;
        margin: 0 10px;
        box-shadow: none;

        &:hover {
          background: transparent;
          color: #1dcb9d;
        }

        &:active {
          color: black;
        }
      }

      &--orange {
        @extend %btn;
        margin: 0 10px;
      }
    }
  }
}
//HEADER

//HERO
#hero {
  padding-top: 40px;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: start;

    &__titles {
      &--subtitle {
        @extend %subtitles;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 17%;
          height: 2px;
          background: #222831;
          margin-left: 20%;
          top: 6px;
        }
      }

      &--theme {
        @extend %text-titles;
        margin-right: 20px;

        &::first-line {
          color: red;
        }
      }
    }

    &__description {
      @extend %descriptions;
    }
  }
}
//HERO


//REGISTRATION-LIST
#registration-list {
  padding-top: 40px;

  .registration-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;

    &__items {
      position: absolute;
      right: 50%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: #10375C;
      padding: 20px 50px;
      margin: 0 0 0 30px;


      &--title {
        @extend %text-titles;
        color: white;
        //font-size: 2em;
        margin: 30px 0;
      }

      &--location {
        @extend %inputs;
      }

      &--type {
        @extend %inputs;
        padding: 20px 104px;
      }

      &--date {
        @extend %inputs;
        padding: 20px 94px;
      }

      &--btn {
        @extend %btn;
        margin: 10px 0;
        padding: 20px 104px;
      }
    }

    &__img {
      width: 80vw;
      position: relative;
    }
  }
}
//REGISTRATION-LIST


//OUR-SPACES
#our-spaces {
  padding-top: 250px;

  .our-spaces__titles {
    display: flex;
    align-items: start;

    &--theme {
      @extend %text-titles;
      width: 100%;
    }

    &--description {
      @extend %descriptions;
      margin: 0 0 0 70px;
    }
  }

  .our-spaces {
    padding-top: 20px;
    position: relative;

    .slick-prev {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-prev.svg") no-repeat center/60px;
      width: 60px;
      height: 20px;
      top: -25px;
      right: 170px;
    }

    .slick-next {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-next.svg") no-repeat center/120px;
      width: 120px;
      height: 20px;
      top: -25px;
      right: 30px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      .slick-active button {
        background: #FF5722;
      }

      li button {
        font-size: 0;
        border: none;
        width: 30px;
        height: 5px;
        background: #aba7a7;
      }
    }

    &__box1 {
      position: relative;
      width: 30vw;

      &__img {

      }

      &--items {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 150px;
        transition: .2s;

        &__theme {
          @extend %text-titles;
          color: white;
          font-size: 1.5em;
          margin: 0 0 20px 0;
        }

        &__description {
          @extend %descriptions;
          color: white;
          width: 80%;
          text-align: center;
          font-size: 1em;
        }
      }

      &:hover .our-spaces__box1--items {
        opacity: 1;
      }

      &__title {
        padding-top: 20px;
        @extend %subtitles;
      }

      &:before {
        content: "";
        position: absolute;
        width: 93%;
        height: 100%;
        background: #10375C;
        opacity: 0;
        transition: .2s;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    &__box2 {
      width: 30vw;
      position: relative;

      &__img {
      }

      &--items {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 150px;
        transition: .2s;

        &__theme {
          @extend %text-titles;
          color: white;
          font-size: 1.5em;
          margin: 0 0 20px 0;
        }

        &__description {
          @extend %descriptions;
          color: white;
          width: 80%;
          text-align: center;
          font-size: 1em;
        }
      }

      &:hover .our-spaces__box2--items {
        opacity: 1;
      }

      &__title {
        padding-top: 20px;
        @extend %subtitles;
      }

      &:before {
        content: "";
        position: absolute;
        width: 93%;
        height: 100%;
        background: #10375C;
        opacity: 0;
        transition: .2s;
      }

      &:hover:before {
        opacity: 1;
      }
    }
  }
}
//OUR-SPACES


//ABOUT-COMPANY
#about-company {
  padding-top: 100px;

  .about-company {
    display: flex;
    justify-content: space-between;

    &__audince {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;

      &__groups {
        display: flex;
        align-items: start;
        padding: 30px 50px;

        &__logo {
          margin: 0 10px 0 0;
        }

        &__items {
          margin: 0 0 0 20px;
          display: flex;
          flex-direction: column;
          align-items: start;

          &__numbers {
            @extend %text-titles;
            font-size: 2.2em;
          }

          &__title {
            @extend %descriptions;
            font-size: .7em;
          }
        }
      }
    }

    &__subtitles {
      width: 80%;
      height: 120%;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #10375C;
      padding: 40px 40px;

      &__title {
        @extend %subtitles;
        position: relative;
        color: white;

        &:before {
          position: absolute;
          content: "";
          width: 50px;
          height: 2px;
          background: #ffffff;
          left: 110px;
          top: 10px;
        }
      }

      &__theme {
        @extend %text-titles;
        font-size: 2.1em;
        color: white;
        margin: 15px 0 0 0;
        width: 70%;
      }

      &__description {
        @extend %descriptions;
        color: white;
        font-size: .9em;
        line-height: 1.5;
        margin: 30px 0 0 0;
        width: 76%;
      }
    }
  }
}
//ABOUT-COMPANY


//OUR-FACILITIES
#our-facilities {
  padding-top: 100px;

  .container1 {
    position: relative;
  }

  .our-facilities__title {
    @extend %subtitles;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background: #222831;
      left: 110px;
      top: 10px;
    }
  }

  .our-facilities__theme {
    @extend %text-titles;
    width: 56%;
    padding-top: 20px;
  }

  .our-facilities {
    position: absolute;
    width: 54%;
    right: 0;
    padding-top: 50px;

    &__img {
      width: 600px;
      height: 380px;
    }

    .slick-prev, .slick-next {
      position: absolute;
      font-size: 0;
      left: 50px;
      border: none;
      z-index: -1;
    }

    .slick-dots {
      position: absolute;
      left: -80%;
      top: 13%;

      .slick-active button {
        background: #FF5722;
      }

      li button {
        background: #ccc6c6;
        font-size: 0;
        padding: 30px 15vw;
        outline: none;
      }
    }

  }
}
//OUR-FACILITIES


//FRISPES-GALLERY
#frispes-gallery {
  padding-top: 500px;

  .frispes-gallery__titles {
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__subtitle {
      @extend %subtitles;
      position: relative;
      margin: 0 20px 0 0;

      &:before {
        position: absolute;
        content: "";
        width: 70px;
        height: 2px;
        background: #222831;
        left: 110px;
        top: 10px;
        margin: 0 20px;
      }
    }

    &__theme {
      @extend %text-titles;
    }
  }

  .frispes-gallery {
    padding: 50px 0;

    .slick-prev {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-prev.svg") no-repeat center/60px;
      width: 60px;
      height: 20px;
      top: -5px;
      right: 170px;
    }

    .slick-next {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-next.svg") no-repeat center/120px;
      width: 120px;
      height: 20px;
      top: -5px;
      right: 30px;
    }
  }
}
//FRISPES-GALLERY


//LOGO
#logo {
  padding-top: 60px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      @extend %text-titles;
      font-size: 2.3em;
    }

    &__description {
      @extend %descriptions;
      font-size: .9em;
      margin: 20px 0;
    }

    &__nav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &__items {
        margin: 20px 20px;
        transition: .2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
//LOGO


//REVIEWS
#reviews {
  padding-top: 100px;

  .reviews__titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 43%;

    &__subtitle {
      @extend %subtitles;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 70px;
        height: 2px;
        background: #222831;
        left: 75px;
        top: 10px;
      }
    }

    &__theme {
      padding-top: 10px;
      @extend %text-titles;
    }
  }

  .reviews {
    padding-top: 50px;

    &__boxes {
      margin: 0 20px;
      width: 30%;
      height: 270px;
      background: #10375C;
      padding: 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__description {
        @extend %descriptions;
        color: white;
        font-style: inherit;
        font-size: .8em;
        line-height: 26px;
      }

      &__persons {
        display: flex;
        align-items: center;

        &__img {
          margin-right: 20px;
          transition: .2s;

          &:hover {
            transform: translate(-15px, -10px) scale(1.5);
          }
        }

        &__about {
          display: flex;
          flex-direction: column;
          align-items: start;

          &__name {
            @extend %subtitles;
            color: white;
            font-weight: 400;
          }

          &__profession {
            @extend %descriptions;
            color: white;
            font-size: .8em;
            margin-top: 8px;
          }
        }
      }
    }

    .slick-prev {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-prev.svg") no-repeat center/60px;
      width: 60px;
      height: 20px;
      top: -25px;
      right: 170px;
    }

    .slick-next {
      position: absolute;
      font-size: 0;
      border: none;
      background: url("../img/slick-next.svg") no-repeat center/120px;
      width: 120px;
      height: 20px;
      top: -25px;
      right: 30px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      .slick-active button {
        background: #FF5722;
      }

      li button {
        font-size: 0;
        border: none;
        width: 30px;
        height: 5px;
        background: #aba7a7;
      }
    }
  }
}
//REVIEWS



//QUESTIONS
#questions {
  padding-top: 120px;
  padding-bottom: 100px;

  .questions {
    &__title {
      @extend %text-titles;
      margin: auto;
      width: 60%;
    }

    &__items {
      padding-top: 50px;
      display: flex;
      justify-content: center;

      &__boxes {
        background: white;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 40px 0 60px 0;
        position: relative;
        margin: 10px 10px;
        transition: .4s;
        display: flex;
        justify-content: center;
        &__title {
          width: 60%;
          font-size: 24px;
          line-height: 33px;
          font-weight: 400;
          color: #000000;
        }

        &__sign {
          text-align: center;
          top: 80%;
          left: 36%;
          position: absolute;
          width: 30px;
          height: 13px;
          background: #FF5722;
          padding: 15px 27px;
          color: #FFFFff;
        }

        &:hover {
          background: #FF5722;
          transform: translateY(-20px);
          .questions__items__boxes {
            &__title {
              color: white;
            }
            &__sign{
              color: #FF5722;
              background: #ffffff;
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
}
//QUESTIONS


//NEWS
#news{
  padding-top: 110px;
  padding-bottom: 80px;
  background: #F8F8F8;
  min-height: 100vh;
  .news{
    &__titles{
      display: flex;
      align-items: end;
      justify-content: space-between;
      &__theme {
        @extend %text-titles;
        font-size: 1.8em;
      }
      &__see-more{
        display: flex;
        align-items: center;
        &__text{
          margin-right: 5px;
          @extend %descriptions;
          color: #FF5722;
          font-size: 1em;
        }
        &__right{
          color: #FF5722;
        }
      }
    }
    &__items{
      padding-top: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__group1{
        @extend %boxes;
      }
      &__group2{
        @extend %boxes;
        //width: 310px;
        padding: 20px;
        &__title{
          @extend %text-titles;
          margin: 15px 0;
          font-size: 1.5em;
          color: black;
        }
        &__description{
          margin-top: 20px;
          @extend %descriptions;
          font-size: .9em;
          color: #9A9A9A;
        }
        &__person{
          margin-top: 60px;
          display: flex;
          align-items: center;
          &__about{
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 15px;
            &__name{
              font-weight: 500;
              font-size: 18px;
              line-height: 28px;
              color: #10375C;
            }
          }
        }
      }


      &__group3{
        @extend %boxes;
        &__title{
          width: 70%;
          margin: 15px 0 10px 20px;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: #222831;
        }
        &__profession{
          margin-left: 20px;
          @extend %descriptions;
          font-size: .9em;
          color: #9A9A9A;
        }
      }
    }
  }
}
//NEWS


//MEMBER
#member{
  background: #10375C;
  .member{
    display: flex;
    justify-content: space-between;
    &__registration{
      padding-top: 100px;
      //width: 34%;
      &__item{
        @extend %subtitles;
        color: #F8F8F8;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 70px;
          height: 2px;
          background: #F8F8F8;
          left: 39%;
          top: 10px;
        }
      }
      &__theme{
        @extend %text-titles;
        margin: 20px 0;
        color:white;
        //font-size: 2.2em;
      }
      &__description{
        @extend %descriptions;
        color: #FFFFff;
        font-size: .95em;
        font-weight: 300;
      }
      &__btn{
        @extend %btn;
        padding: 10px 100px;
        margin: 20px 0;
      }
    }
    &__person{
      margin-top: -60px;
    }
  }
}
//MEMBER


//FOOTER

#footer{
  background: #0D2C4A;
  .footer{
    display: flex;
    padding-top: 80px;
    &__titles{
      &__theme{
        @extend %text-titles;
        color: #FFFFff;
      }
      &__description {
        @extend %descriptions;
        margin: 20px 0;
        //width: 55%;
        font-size: 1em;
        color: white;
        font-weight: 400;
        font-family: Lato;
      }
      &__logo{
        color: #FFFFff;
        margin: 0 10px;
        font-size: 1.4em;
        &:hover{
          color: #d00c0c;
        }
      }
    }
    &__groups{
      width: 300px;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      &__title{
        @extend %descriptions;
        //font-size: 1.15em;
        color: rgba(223, 223, 223, 0.55)
      }
      &__nav{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        &__item{
          margin: 5px 0;
          @extend %descriptions;
          font-size: .9em;
          color: #FFFFff;
          font-weight: 300;
          transition: .2s;
          &:hover{
            color: #d00c0c;
          }
        }
      }
    }
  }
}

//FOOTER




